<!DOCTYPE html>
<html lang="en" class="bit-auto">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="author" content="Brian Mock" />
    <meta name="description" content="{{ description }}" />
    <meta name="theme-color" content="#e8fdf5" />

    <link rel="icon" sizes="16x16" href="/static/favicon-16.png" />
    <link rel="icon" sizes="32x32" href="/static/favicon-32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon-180.png" />
    <link rel="manifest" href="/static/manifest.json" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wavebeem" />
    <meta name="twitter:creator" content="@wavebeem" />
    <meta name="og:title" content="{{ title }}" />
    <meta name="og:description" content="{{ description }}" />
    <meta name="og:image" content="https://mockbrian.com/brian-bg.png" />

    <title>{{ title }}</title>

    <link rel="stylesheet" media="screen" href="/static/1bit-ui.css" />
    <link rel="stylesheet" media="screen" href="/static/style.css" />
    <link rel="stylesheet" media="screen" href="/static/syntax.css" />

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-52704502-1"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      if (
        window.location.hostname === "mockbrian.com" ||
        window.location.hostname === "www.mockbrian.com"
      ) {
        gtag("config", "UA-52704502-1");
      } else {
        window.gtag = console.log.bind(console, "gtag");
      }
    </script>
  </head>
  <body>
    <nav>
      <b>Brian Mock</b>
      <a class="bit-link" href="/">Home</a>
      <a class="bit-link" href="/blog">Blog</a>
      <a class="bit-link" href="/resume">Resume</a>
    </nav>
    <main>{{ content }}</main>
    <footer>&copy; {{ "now" | date: "%Y" }} Brian Mock</footer>
  </body>
</html>
