---
import Page from "../layouts/Page.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { compare } from "../lib/compare";

const title = "Art gallery";
const description = title;
const art = await getCollection("art");
const sortedArt = [...art].sort(
  (a, b) => -compare(a.data.pubDate, b.data.pubDate)
);

// import { Image } from "astro:assets";
// TODO: Consider using <Image> or <Picture> for automatic sizing...
---

<Page title={title} description={description}>
  <h1>{title}</h1>

  <div class="art-container">
    {
      sortedArt.map((item, i) => {
        return (
          <figure class="art-container--frame sage-well">
            <img
              src={item.data.image.src}
              width={item.data.image.width}
              height={item.data.image.height}
              alt=""
              loading={i > 4 ? "lazy" : "eager"}
            />
            <figcaption>
              <a class="sage-link" href={item.data.image.src}>
                {item.data.title}
              </a>
            </figcaption>
            <FormattedDate date={item.data.pubDate} />
          </figure>
        );
      })
    }
  </div>
</Page>

<style>
  .art-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-content: space-between;
  }

  .art-container--frame {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
  }

  .art-container--frame a {
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: var(--font-size-h3);
    flex: auto;
  }

  .art-container--frame img {
    border-radius: 0.25rem;
  }

  .art-container--frame figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  figure {
    margin: 1rem 0;
    color: var(--color-main-text);
  }

  figure img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  figure figcaption {
    font-size: var(--font-size-small);
  }
</style>
