---
import Avatar from "../components/Avatar.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import menu from "../data/menu";
import { getPosts } from "../data/posts";
import Page from "../layouts/Page.astro";

const title = SITE_TITLE;
const description = SITE_DESCRIPTION;
const allPosts = await getPosts();
const recentPosts = allPosts.slice(0, 3);
---

<Page title={title} description={description}>
  <Avatar />

  <h1>Hello!</h1>

  <p>
    I'm
    <a class="sage-link" href="/my-names/">Sage Fennel</a>
    (they/them), aka <q>wavebeem</q>.
  </p>

  <p>
    I love video games, web development, makeup, pixel art, progressive metal,
    cats, and the color green.
  </p>

  <p>
    I live in
    <a class="sage-link" href="https://en.wikipedia.org/wiki/Portland,_Oregon"
      >Portland</a
    >, where I enjoy gray skies, green leaves, and gentle rain.
  </p>

  <div class="clearfix"></div>

  <h2>Take a look around</h2>

  <div class="clicky-list">
    {
      menu.map((item) => {
        return (
          <a href={item.url} class="link-card">
            {item.title}
          </a>
        );
      })
    }
  </div>

  <h2>Recent posts</h2>

  <div class="post-list">
    {
      recentPosts.map((post) => (
        <section class="post-list--post sage-well">
          <h3>
            <a class="sage-link no-underline" href={`/blog/${post.slug}/`}>
              {post.data.title}
            </a>
          </h3>
          <FormattedDate date={post.data.pubDate} />
          <p>{post.data.description}</p>
        </section>
      ))
    }
  </div>

  <p class="text-right">
    <a href="/blog/" class="sage-link">All blog posts</a>
    <span aria-hidden="true">&rarr;</span>
  </p>
</Page>
