---
import FormattedDate from "../../components/FormattedDate.astro";
import {
  getAllTagsForPosts,
  getPosts,
  postsGroupedByYear,
} from "../../data/posts";
import Page from "../../layouts/Page.astro";

const title = "Blog";
const description = title;
const allPosts = await getPosts();
const groupedPosts = postsGroupedByYear(allPosts);
const allTags = getAllTagsForPosts(allPosts);
---

<Page title={title} description={description}>
  <h1>{title}</h1>

  <p>
    Subscribe to my <a class="sage-link" href="/feed.xml">RSS feed</a>
    to stay up to date with my posts.
  </p>

  <h2>Browse by tag</h2>

  <ul class="tag-list">
    {
      allTags.map((tag) => {
        return (
          <li>
            <a href={`/blog/tags/${tag.id}/`} class="sage-link">
              {tag.title}
            </a>
          </li>
        );
      })
    }
  </ul>

  {
    Array.from(groupedPosts.entries()).map(([year, posts]) => (
      <div>
        <h2>{year}</h2>
        <div class="post-list">
          {posts.map((post) => {
            return (
              <section class="post-list--post sage-well">
                <h3>
                  <a
                    class="sage-link no-underline"
                    href={`/blog/${post.slug}/`}
                  >
                    {post.data.title}
                  </a>
                </h3>
                <FormattedDate date={post.data.pubDate} />
                <p>{post.data.description}</p>
              </section>
            );
          })}
        </div>
      </div>
    ))
  }
</Page>
