---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<script is:inline src="/theme-init.js"></script>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<meta name="theme-color" content="#111" media="(prefers-color-scheme: light)" />
<meta
  name="theme-color"
  content="#b3c3b0"
  media="(prefers-color-scheme: dark)"
/>
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="icon" sizes="32x32" href="/favicon.png" />
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/PPMori-Regular.woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/PPMori-Black.woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/PPMori-Extrabold.woff2"
  crossorigin
/>
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta property="og:type" content="website" />
<meta name="description" content={description} />
<title>{title}</title>
<meta name="author" content="wavebeem" />
<meta name="generator" content={Astro.generator} />
