---
title: "Art"
description: "A gallery for my art."
layout: "layout-base"
---

<article>
  <header>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </header>

  <div class="grid2">
    {% for img in art reversed %}
    <figure>
      <a class="flex" href="{{ img.url }}">
        <img
          src="{{ img.url }}"
          alt=""
          width="{{ img.width }}"
          height="{{ img.height }}"
          loading="{% if forloop.index > 4 %}lazy{% else %}eager{% endif %}"
        />
      </a>
      <figcaption>
        <a href="{{ img.url }}">{{ img.name }}</a>
        <br />
        <small>{% render "partials/date" date: img.date %}</small>
      </figcaption>
    </figure>
    {% endfor %}
  </div>
</article>
