---
title: "Art"
description: "A gallery for my art."
pageName: "art"
layout: "layout-base"
---

<h1>{{ title }}</h1>

<div class="art-container">
  {% for img in art reversed %}
    <figure class="art-container--frame">
      <a
        class="flex sage-link"
        tabindex="-1"
        href="{{ img.url }}">
        <img
          src="{{ img.url }}"
          alt=""
          width="{{ img.width }}"
          height="{{ img.height }}"
          loading="{% if forloop.index > 4 %}lazy{% else %}eager{% endif %}" />
      </a>
      <figcaption>
        <a class="sage-link" href="{{ img.url }}">{{ img.name }}</a>
      </figcaption>
      {% render "partials/date" date: img.date %}
    </figure>
  {% endfor %}
</div>
