---
title: "Blog"
layout: "layout-base"
---

<h1>{{ title }}</h1>

<p>
  Subscribe to my
  <a class="sage-link" href="/feed.xml">RSS feed</a>
  to stay up 
  to date with my posts.
</p>

{% assign postsByYear = collections.posts | groupByYear %}
{% for item in postsByYear %}
  {% assign year = item[0] %}
  {% assign postList = item[1] %}

  <h2>{{ year }}</h2>

  <div class="post-list">
    {% for post in postList %}
      <section class="post-list--post sage-well">
        <h3>
          <a class="sage-link no-underline" href="{{ post.url }}">
            {{ post.data.title | escape }}
          </a>
        </h3>
        {% render "partials/date" date: post.date %}
        <p>
          {{ post.data.description | escape }}
        </p>
      </section>
    {% endfor %}
  </div>
{% endfor %}

{{ content }}
