---
title: "Drafts"
layout: "layout-base"
permalink: "/drafts/"
---

<h1>Drafts</h1>

<h2>All drafts</h2>

<div class="post-list">
  {% for post in collections.draft reversed %}
    <section class="post-list--post sage-well">
      <h3>
        <a class="sage-link no-underline" href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </h3>
      <time datetime="{{ post.date | formatDate: 'yyyy-mm-dd' }}">{{ post.date | formatDate: 'yyyy mmmm d' }}</time>
      <p>
        {{ post.data.description }}
      </p>
    </section>
  {% endfor %}
</div>

{{ content }}
