---
description: "Sage's website"
layout: "layout-base"
---

<script type="module" src="/elements/wavebeem-easter-egg.mjs"></script>

<article>
  <wavebeem-easter-egg class="avatar">
    <img
      alt=""
      srcset="photo-180.webp 1x, photo-360.webp 2x"
      src="photo-360.webp"
      width="180"
      height="180"
    />
  </wavebeem-easter-egg>

  <h1>Hello!</h1>

  <p>
    I'm
    <a href="/about/"><strong>Sage</strong></a>
    (they/them), aka
    <q>wavebeem</q>.
  </p>

  <p>
    I'm a video game obsessed web developer and an official representative of
    the color green.
  </p>

  <p>Read more <a href="/about/">about me</a>.</p>

  <div class="clearfix"></div>

  <h2>Recent posts</h2>

  {% assign top3 = collections.posts | reverse | take: 3 %} {% for post in top3
  %}
  <article>
    <header>
      <h3>
        <a href="{{ post.url }}">
          {{ post.data.title | escape }}
        </a>
      </h3>
      <small>{% render "partials/date" date: post.date %}</small>
    </header>
    <p>{{ post.data.description | escape }}</p>
  </article>
  {% endfor %}

  <h2>Other pages</h2>

  <div class="flex flex-wrap gap2">
    {% for item in menu.more %}
    <a class="button" href="{{ item.url }}">{{ item.title | escape }}</a> {%
    endfor %}
  </div>
</article>
