---
description: "Sage's website"
layout: "layout-base"
pageName: "home"
---

<script type="module" src="/elements/wavebeem-easter-egg.mjs"></script>

<wavebeem-easter-egg class="avatar">
  <img
    alt=""
    srcset="
      /photo-180.webp?v={{ contentHashes.photo }} 1x,
      /photo-360.webp?v={{ contentHashes.photo }} 2x
    "
    src="/photo-360.webp?v={{ contentHashes.photo }}"
    width="120"
    height="120"
  />
</wavebeem-easter-egg>

<h1>Hello!</h1>

<div class="sage-well">
  <p>
    I'm
    <a class="sage-link" href="/about/">Sage</a>
    (they/them), aka
    <q>wavebeem</q>.
  </p>

  <p>
    I love video games, web development, makeup, pixel art, progressive metal,
    cats, and the color green.
  </p>

  <p>
    I live in
    <a class="sage-link" href="https://en.wikipedia.org/wiki/Portland,_Oregon"
      >Portland</a
    >, where I enjoy gray skies, green leaves, and gentle rain.
  </p>
</div>

<div class="clearfix"></div>

<h2>Recent posts</h2>

<div class="post-list">
  {% assign top3 = collections.posts | reverse | take: 3 %} {% for post in top3
  %}
  <section class="post-list--post sage-well">
    <h3>
      <a class="sage-link no-underline" href="{{ post.url }}">
        {{ post.data.title | escape }}
      </a>
    </h3>
    <p>{{ post.data.description | escape }}</p>
    {% render "partials/date" date: post.date %}
  </section>
  {% endfor %}
</div>

<p class="text-right">
  <a href="/blog/" class="sage-link">All blog posts</a>
  <span aria-hidden="true">&rarr;</span>
</p>

<h2>Featured pages</h2>

<div class="clicky-list">
  {% for item in menu.main %}
  <div class="link-card">
    <a href="{{ item.url }}" class="sage-link no-underline"
      ><h3>{{ item.title | escape }}</h3></a
    >
  </div>
  {% endfor %}
</div>

<h2>More pages</h2>

<div class="clicky-list">
  {% for item in menu.more %}
  <div class="link-card">
    <a href="{{ item.url }}" class="sage-link no-underline"
      ><h3>{{ item.title | escape }}</h3></a
    >
  </div>
  {% endfor %}
</div>
