---
description: "Sage's website"
layout: "layout-base"
---

<script type="module" src="/elements/wavebeem-easter-egg.mjs"></script>

<article>
  <wavebeem-easter-egg class="avatar">
    <img
      alt=""
      srcset="
      /photo-180.webp?v={{ contentHashes.photo }} 1x,
      /photo-360.webp?v={{ contentHashes.photo }} 2x
    "
      src="/photo-360.webp?v={{ contentHashes.photo }}"
      width="120"
      height="120"
    />
  </wavebeem-easter-egg>

  <h1>Hello!</h1>

  <p>
    I'm
    <a href="/about/">Sage</a>
    (they/them), aka
    <q>wavebeem</q>.
  </p>

  <p>
    I love video games, web development, makeup, pixel art, progressive metal,
    cats, and the color green.
  </p>

  <p>
    I live in
    <a href="https://en.wikipedia.org/wiki/Portland,_Oregon">Portland</a>, where
    I enjoy gray skies, green leaves, and gentle rain.
  </p>

  <div class="clearfix"></div>

  <h2>Recent posts</h2>

  {% assign top3 = collections.posts | reverse | take: 3 %} {% for post in top3
  %}
  <article>
    <header>
      <h3>
        <a href="{{ post.url }}">
          {{ post.data.title | escape }}
        </a>
      </h3>
      <small>{% render "partials/date" date: post.date %}</small>
    </header>
    <p>{{ post.data.description | escape }}</p>
  </article>
  {% endfor %}

  <h2>Other pages</h2>

  <div class="flex flex-wrap gap2">
    {% for item in menu.all %}
    <a class="button" href="{{ item.url }}">{{ item.title | escape }}</a> {%
    endfor %}
  </div>
</article>
