---
pagination:
  data: "collections"
  size: 1
  alias: "tag"
  filter:
    - "all"
    - "post"
    - "posts"
    - "tagList"
  addAllPagesToCollections: true
layout: "layout-base"
eleventyComputed:
  title: "{{ tag | prettyTag }} - Tagged posts"
permalink: "/blog/tags/{{ tag }}/"
---

<h1>Tagged posts</h1>

<p>
  <span aria-hidden="true">&larr;</span>
  <a href="/blog/" class="sage-link">All blog posts</a>
</p>

<h2>Browse by tag</h2>

<ul class="tag-list">
  {% assign tags = collections.all | getAllTags | sort | filterTagList %}
  {% for tag in tags %}
    <li>
      <a href="/blog/tags/{{ tag }}/" class="sage-link">{{ tag | prettyTag }}</a>
    </li>
  {% endfor %}
</ul>

<h2>
  Posts tagged
  <q>{{ tag | prettyTag }}</q>
</h2>

<div class="post-list">
  {% assign posts = collections.posts | filterByTag: tag %}
  {% for post in posts reversed %}
    <section class="post-list--post sage-well">
      <h2>
        <a class="sage-link no-underline" href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </h2>

      <time datetime="{{ post.date | formatDate: 'yyyy-mm-dd' }}">{{ post.date | formatDate: 'yyyy mmmm d' }}</time>

      <p>
        {{ post.data.description }}
      </p>
    </section>
  {% endfor %}
</div>
