---
title: "Toybox"
description: |
  A silly little collection of toys and jokes made specifically for the web.
layout: "layout-base"
permalink: "/toybox/"
---

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<h2>All toys</h2>

<div class="post-list">
  {% for post in collections.toybox | reverse %}
    <section class="post-list--post sage-well">
      <h3>
        <a class="sage-link no-underline" href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </h3>

      <time datetime="{{ post.date | formatDate('yyyy-mm-dd') }}">{{ post.date | formatDate('yyyy mmmm d' ) }}</time>

      <p>
        {{ post.data.description }}
      </p>
    </section>
  {% endfor %}
</div>

{{ content | safe }}
