---
title: "Toybox"
description:
  "A silly little collection of toys and jokes made specifically for the web."
layout: "layout-base"
---

<h1>{{ title }}</h1>

<p>{{ description }}</p>

<p>
  Subscribe to my
  <a class="sage-link" href="/feed.xml">RSS feed</a>
  to stay up
  to date with my posts.
</p>


<h2>All toys</h2>

<div class="toy-list sage-well">
  {% for post in collections.toybox reversed %}
    <section class="toy-list--toy">
      <h3>
        <a class="sage-link" href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </h3>
    </section>
  {% endfor %}
</div>

{{ content }}
