<div class="footer-top"></div>
<footer class="footer screen-only">
  <div class="content-column flex flex-column gap3">
    <nav class="footer-links">
      {% for item in menu.main %}
      <a href="{{ item.url }}" class="sage-link">{{ item.title }}</a>
      {% endfor %}
    </nav>

    <hr />

    <nav class="footer-links">
      {% for item in menu.more %}
      <a href="{{ item.url }}" class="sage-link">{{ item.title }}</a>
      {% endfor %}
    </nav>

    <hr />

    <div>
      &copy; {{ "now" | formatDate : "yyyy" }} Sage Fennel (wavebeem)<br />
      Last updated
      <time datetime="{{ 'now' | formatDate : 'yyyy-mm-dd' }}">{{
        "now" | formatDate : "yyyy mmmm d"
      }}</time>
    </div>
  </div>
</footer>
