<div class="decorative-divider"></div>
<footer>
  <div class="content-column">
    <nav>
      {% for item in menu.main %}
      <a href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </nav>

    <br />

    <nav>
      {% for item in menu.more %}
      <a href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </nav>

    <br />

    <div>&copy; {{ "now" | formatDate : "yyyy" }} Sage Fennel (wavebeem)</div>
  </div>
</footer>
