<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="theme-color"
    content="{{ themes.light['color-root-overscroll'] | escape }}"
  />
  <link
    rel="preload"
    as="font"
    crossorigin="anonymous"
    href="/fonts/PPObjectSans-Regular.woff2"
  />
  <link
    rel="preload"
    as="font"
    crossorigin="anonymous"
    href="/fonts/PPObjectSans-Bold.woff2"
  />
  <link
    rel="preload"
    as="font"
    crossorigin="anonymous"
    href="/fonts/UltraHi-GlossFinal-UltraBoldItalic.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/JetBrainsMono-Regular.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/JetBrainsMono-Bold.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/JetBrainsMono-Italic.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/PPObjectSans-Slanted.woff2"
  />
  <link
    rel="icon"
    href="/favicon.svg?v={{ contentHashes.faviconVector }}"
    type="image/svg+xml"
  />
  <link
    rel="icon"
    sizes="32x32"
    href="/favicon.png?v={{ contentHashes.favicon }}"
  />
  <script
    async
    defer
    data-domain="wavebeem.com"
    src="https://plausible.io/js/plausible.js"
  ></script>
  <link
    rel="stylesheet"
    media="screen"
    href="/main.css?t={{ dateNow | escape }}"
  />
  <link
    rel="alternate"
    type="application/atom+xml"
    href="{{ origin | escape }}/feed.xml"
    title="wavebeem.com"
  />
  <link rel="me" href="https://toot.community/@wavebeem" />
  <meta
    name="og:image"
    content="{{ origin }}/og-image.png?v={{ contentHashes.ogImage }}"
  />
  <meta name="og:title" content="{{ title | formatTitle | escape }}" />
  <meta name="og:description" content="{{ description | escape }}" />
  <title>{{ title | formatTitle }}</title>
  <meta name="author" content="wavebeem" />
  <meta name="description" content="{{ description | escape }}" />
  <meta name="generator" content="{{ eleventy.generator | escape }}" />
</head>
