<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, viewport-fit=cover"
  />
  <meta
    name="theme-color"
    content="{{ themes['color-green'] | escape }}"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/PPObjectSans-Regular.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/PPTalisman-Narrow-Bold.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/PPObjectSans-Bold.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/PPObjectSans-Slanted.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/PPObjectSans-BoldSlanted.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/JetBrainsMono-Regular.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/JetBrainsMono-Bold.woff2"
  />
  <link
    rel="prefetch"
    as="font"
    crossorigin="anonymous"
    href="/fonts/JetBrainsMono-Italic.woff2"
  />
  <link
    rel="icon"
    href="/favicon.svg?v={{ contentHashes.faviconVector }}"
    type="image/svg+xml"
  />
  <link
    rel="icon"
    sizes="32x32"
    href="/favicon.png?v={{ contentHashes.favicon }}"
  />
  <link
    rel="stylesheet"
    media="screen"
    href="/base.css?t={{ buildDate.number | escape }}"
  />
  <link
    rel="alternate"
    type="application/atom+xml"
    href="{{ origin | escape }}/feed.xml"
    title="wavebeem.com"
  />
  <link rel="me" href="https://toot.community/@wavebeem" />
  <meta
    name="og:image"
    content="{{ origin }}/og-image.png?v={{ contentHashes.ogImage }}"
  />
  <meta name="og:title" content="{{ title | escape }}" />
  <meta name="og:description" content="{{ description | escape }}" />
  <meta property="og:type" content="website">
  <meta name="description" content="{{ description | escape }}" />
  <title>{{ title }}</title>
  <meta name="author" content="wavebeem" />
  <meta name="generator" content="{{ eleventy.generator | escape }}" />
  {% if draft -%}
  <meta name="robots" content="noindex" />
  {% endif %}
  <script type="module" src="/assets/global.mjs?v={{ contentHashes.globalMjs }}"></script>
  <script
    defer
    data-domain="wavebeem.com"
    data-api="/p/api/event"
    src="/p/js/script.js"
  ></script>
</head>
